body { width: 1000px; }

.smallmap #map {width: 300px; height: 300px; }
.mediummap #map {width: 425px; height: 350px; }
.largemap #map {width: 600px; height: 600px; }

.smallmap #draw_wrap { padding-left: 300px; }
.mediummap #draw_wrap { padding-left: 425px; }
.largemap #draw_wrap { padding-left: 800px; }

#map_wrap { margin-right: 20px; }

#OpenLayers.Control.Attribution_7 {display: none;}

.olControlAttribution { display: none!important;}

#map_info p { margin-top: 5px; margin-bottom:5px; font-size: 0.7em;  }

#draw_wrap label { display: block; }

#map_wrap { float:left; }

.buttons { padding-left: 5px;}

#draw_cmds { width:90%;height: 200px; }

.buttons > div,.button {
  display: inline;
  -moz-border-radius: 3px 3px 3px 3px;
  background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
  border-color: #CCCCCC #BBBBBB #A0A0A0;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  cursor: default;
  font: 1em arial,sans-serif;
  margin: 0 8px 0 0;
  outline: medium none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}





